* {
  font-family: "Roboto", sans-serif;
}

.top-left-div {
  height: 600px;
  overflow: hidden;
}

.heading {
  margin-top: 150px;
}

.top-img {
  margin-top: 100px;
  border-radius: 25px;
}

.navbar-brand {
  font-size: 2rem;
}

.container-fluid {
  background-color: #28df99;
  color: white;
}

.SignUp {
  width: 300px;
  border-radius: 25px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 100px;
  border: none;
}

.top-heading {
  font-size: 4rem;
  margin-top: 100px;
}

.features {
  font-size: 6rem;
  margin-bottom: 25px;
  color: #28df99;
}

p {
  color: #686d76;
}

h2 {
  font-size: 3rem;
  margin: 50px;
}

.navbar {
  opacity: 0.8;
}
